<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    No user was found</h2>
                <div class="error-details">
                    Please search user with the other name
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><i class="fa-solid fa-house"></i>
                        Back to Home Page </a>
                </div>
            </div>
        </div>
    </div>
</div>